@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
}

.hello-hand {
  animation: wave 2s .7s ease-in-out infinite;
}

@keyframes wave {
  0% { transform: rotate(0.0deg); }
  10% { transform: rotate(14.0deg); }
  20% { transform: rotate(-8.0deg); }
  30% { transform: rotate(14.0deg); }
  40% { transform: rotate(-4.0deg); }
  50% { transform: rotate(10.0deg); }
  60% { transform: rotate(0.0deg); }
  100% { transform: rotate(0.0deg); }
}

.list-achiv li::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 8px;
  border-radius: 9999px;
  background-color: goldenrod;
}
