.menu a,
.focus {
  position: relative;
}
.menu a::before,
.focus::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 100%;
  height: 2px;
  transition: all .3s ease-in-out;
  background: var(--chakra-colors-teal-400);
}
.menu a:hover::before {
  right: 0;
}
.focus:focus::before {
  right: 0;
}